.hero-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-container h1{
    align-self: flex-start;
    padding-left: 5%;
    font-size: 6rem;
}
.hero-container div{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    width: 100%;
}

.hero-container .top{
    display: flex;
    justify-content: space-between;
}
.dark-light{
    padding: 1rem;   
}
.dark-light span{
    cursor: pointer;
}
.moon{
    display: none;
}